Enterprise_Lead_to_Order_Workflow.json
{"name":"Enterprise Lead-to-Order Demo (Free Tools)","nodes":[{"parameters":{"httpMethod":"POST","path":"lead-capture","responseMode":"onReceived"},"id":"Webhook_Lead","name":"Lead Capture Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,300]},{"parameters":{"keepOnlySet":false,"values":{"string":[{"name":"LeadID","value":"={{Date.now()}}"},{"name":"Status","value":"New"},{"name":"CreatedAt","value":"={{new Date().toISOString()}}"}],"number":[{"name":"Score","value":"={{(() => { const budget = parseInt($json.budget || 0); if (budget > 10000) return 90; if (budget > 5000) return 70; if (budget > 2000) return 50; return 20; })()}}"}]}},"id":"Set_Qualification","name":"Lead Qualification","type":"n8n-nodes-base.set","typeVersion":3,"position":[400,300]},{"parameters":{"conditions":{"number":[{"value1":"={{$json.Score}}","operation":"largerEqual","value2":70}]}},"id":"IF_Qualified","name":"Is Qualified?","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,300]},{"parameters":{"operation":"append","sheetId":"YOUR_LEADS_SHEET_ID","range":"Leads!A:H","valueInputMode":"USER_ENTERED"},"id":"GoogleSheets_Leads","name":"Store Lead (CRM)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[800,200]},{"parameters":{"toEmail":"={{$json.email}}","subject":"Thank you for your interest","message":"=Hi {{$json.name}},\n\nThank you for your inquiry.\nAt this time, we cannot proceed.\n\nBest regards,\nSales Team"},"id":"Gmail_Rejected","name":"Send Rejection Email","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[800,450]},{"parameters":{"toEmail":"={{$json.email}}","subject":"Proposal for {{$json.company}}","message":"=Hi {{$json.name}},\n\nBased on your budget of {{$json.budget}},\nwe are pleased to offer a custom solution.\n\nEstimated Project Value: ${{$json.budget * 1.2}}\n\nPlease confirm via our order endpoint.\n\nBest regards,\nSales Team"},"id":"Gmail_Proposal","name":"Send Proposal","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1000,200]},{"parameters":{"mode":"webhook","webhookSuffix":"order-confirm"},"id":"Wait_Order","name":"Wait For Confirmation","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1200,200]},{"parameters":{"keepOnlySet":false,"values":{"string":[{"name":"OrderID","value":"={{'ORD-' + Date.now()}}"},{"name":"OrderStatus","value":"Confirmed"},{"name":"ConfirmedAt","value":"={{new Date().toISOString()}}"}],"number":[{"name":"Amount","value":"={{$json.budget * 1.2}}"}]}},"id":"Set_Order","name":"Create Order Data","type":"n8n-nodes-base.set","typeVersion":3,"position":[1400,200]},{"parameters":{"operation":"append","sheetId":"YOUR_ORDERS_SHEET_ID","range":"Orders!A:E","valueInputMode":"USER_ENTERED"},"id":"GoogleSheets_Orders","name":"Store Order","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1600,200]},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=\u2705 New Order Confirmed!\n\nLead: {{$json.name}}\nCompany: {{$json.company}}\nAmount: ${{$json.Amount}}"},"id":"Telegram_Notify","name":"Notify Sales (Telegram)","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[1800,200]}],"connections":{"Lead Capture Webhook":{"main":[[{"node":"Lead Qualification","type":"main","index":0}]]},"Lead Qualification":{"main":[[{"node":"Is Qualified?","type":"main","index":0}]]},"Is Qualified?":{"main":[[{"node":"Store Lead (CRM)","type":"main","index":0},{"node":"Send Proposal","type":"main","index":0}],[{"node":"Send Rejection Email","type":"main","index":0}]]},"Send Proposal":{"main":[[{"node":"Wait For Confirmation","type":"main","index":0}]]},"Wait For Confirmation":{"main":[[{"node":"Create Order Data","type":"main","index":0}]]},"Create Order Data":{"main":[[{"node":"Store Order","type":"main","index":0}]]},"Store Order":{"main":[[{"node":"Notify Sales (Telegram)","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"1"}